@import '../../../theme/style.less';
@import '../../../theme/size.less';
@import '../../../theme/color.less';

.classify-wrapper{
    margin-top: @page-padding;
    display: flex;
    .classify-item{
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        .classify-img{
            width: @big-icon-size;
            height: @big-icon-size;
            margin-bottom: @small-margin;
        }
    }
}
